.Header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: .6s ease-out;
  box-sizing: border-box;
  padding: 18px 70px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .Header {
    padding: 18px 10px;
  }
}
